.criipto-eid-btn {
  padding: 6px 24px 6px 16px;
  height: 60px;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #fff;
  background: #604fed;
}

@media (max-width: 320px) {
  .criipto-eid-btn {
    padding-right: 6px;
    padding-left: 6px;
  }
}

.criipto-eid-btn:hover,
.criipto-eid-btn:active {
  color: #fff;
}

.criipto-eid-btn .criipto-eid-logo {
  width: 88px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.criipto-eid-btn .criipto-eid-logo img {
  max-width: 100%;
  max-height: 100%;
}

.criipto-eid-btn.criipto-eid-btn--dk-mitid {
  background: #0060e6;
}
.criipto-eid-btn.criipto-eid-btn--dk-mitid:hover {
  background: #0051c3;
}

.criipto-eid-btn.criipto-eid-btn--se-bankid {
  background: #235971;
}
.criipto-eid-btn.criipto-eid-btn--se-bankid:hover {
  background: #1c485b;
}

.criipto-eid-btn.criipto-eid-btn--no-bankid {
  background: #39134c;
}
.criipto-eid-btn.criipto-eid-btn--no-bankid:hover {
  background: #2a0e38;
}

.criipto-eid-btn.criipto-eid-btn--no-vipps {
  background: #ff5b24;
}
.criipto-eid-btn.criipto-eid-btn--no-vipps:hover {
  background: #e85321;
}

.criipto-eid-btn.criipto-eid-btn--itsme {
  background: #fd4825;
}
.criipto-eid-btn.criipto-eid-btn--itsme:hover {
  background: #e44020;
}

.criipto-eid-btn.criipto-eid-btn--fi {
  background: #333333;
}
.criipto-eid-btn.criipto-eid-btn--fi:hover {
  background: #111111;
}

.criipto-eid-btn.criipto-eid-btn--se-frejaid {
  background: #3e3a93;
}
.criipto-eid-btn.criipto-eid-btn--se-frejaid:hover {
  background: #322e76;
}

.criipto-eid-btn.criipto-eid-btn--uk-oneid {
  background: #012041;
}
.criipto-eid-btn.criipto-eid-btn--uk-oneid:hover {
  background: #011a34;
}

.criipto-eid-btn.criipto-eid-btn--de-personalausweis {
  background: #3375b1;
}
.criipto-eid-btn.criipto-eid-btn--de-personalausweis:hover {
  background: #295e8e;
}

.criipto-eid-btn.criipto-eid-btn--disabled,
.criipto-eid-btn.criipto-eid-btn--disabled:hover {
  background: #d0d3eb;
}

.criipto-eid-btn .criipto-eid-loader::before {
  left: -18px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  animation: dotFlashingFirst 1.5s infinite;
}

.criipto-eid-btn .criipto-eid-loader {
  position: relative;
  width: 14px;
  height: 14px;
  margin-right: 18px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  animation: dotFlashingSecond 1.5s infinite linear;
}

.criipto-eid-btn .criipto-eid-loader::before,
.criipto-eid-btn .criipto-eid-loader::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.criipto-eid-btn .criipto-eid-loader::after {
  left: 18px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  animation: dotFlashingLast 1.5s infinite;
}

@keyframes dotFlashingFirst {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  33% {
    background-color: rgba(255, 255, 255, 1);
  }
  66%,
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes dotFlashingSecond {
  0%,
  33% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  66% {
    background-color: rgba(255, 255, 255, 1);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes dotFlashingLast {
  0%,
  66% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 1);
  }
}
